In [1]:
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import mysql.connector

In [3]:
df=pd.read_csv("/Users/mac/Downloads/hungary_chickenpox/hungary_chickenpox.csv")

In [4]:
conn=mysql.connector.connect(
host='127.0.0.1',
user='root',
password='',
database='mysql'
)

In [5]:
cursor=conn.cursor(buffered=True)

In [6]:
cursor.execute('DROP TABLE IF EXISTS TAIWAN_CP')

In [19]:
type(df[df.columns[1]][1])

numpy.int64

In [ ]:
dtype(df)

In [55]:
a=df.columns

In [63]:
type(df[a[i]][0])

str

In [58]:
for i in a:
    print(dtype(i))

Date
BUDAPEST
BARANYA
BACS
BEKES
BORSOD
CSONGRAD
FEJER
GYOR
HAJDU
HEVES
JASZ
KOMAROM
NOGRAD
PEST
SOMOGY
SZABOLCS
TOLNA
VAS
VESZPREM
ZALA

In [26]:
for i in df.columns:
    print(df[])

/Users/mac/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py:4616: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      522 non-null    object
 1   BUDAPEST  522 non-null    int64
 2   BARANYA   522 non-null    int64
 3   BACS      522 non-null    int64
 4   BEKES     522 non-null    int64
 5   BORSOD    522 non-null    int64
 6   CSONGRAD  522 non-null    int64
 7   FEJER     522 non-null    int64
 8   GYOR      522 non-null    int64
 9   HAJDU     522 non-null    int64
 10  HEVES     522 non-null    int64
 11  JASZ      522 non-null    int64
 12  KOMAROM   522 non-null    int64
 13  NOGRAD    522 non-null    int64
 14  PEST      522 non-null    int64
 15  SOMOGY    522 non-null    int64
 16  SZABOLCS  522 non-null    int64
 17  TOLNA     522 non-null    int64
 18  VAS       522 non-null    int64
 19  VESZPREM  522 non-null    int64
 20  ZALA      522 non-null    int64
dtypes: int64(20), object(1)
memory usage: 85.8+ KB

In [25]:
def dtypemap(dtype):
   # print(dtype)
    if dtype==int:
        dtype='INT'
        a=dtype
        print(a)
    if dtype==object or str:
        dtype='VARCHAR'
        a=dtype
        print(a)

In [19]:
dtypemap(int)

INT

In [93]:
a=10
if a==10:
    a=20
print(a)

20

In [21]:
for columns in df.columns:
    a= df[columns].dtypes
    dtypemap(a)

VARCHAR
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT
INT

In [104]:
"""
for columns in df.columns:
    a= df[columns].dtypes
    print(a)
"""

'\nfor columns in df.columns:\n    a= df[columns].dtypes\n    print(a)\n'

In [106]:
f=df.dtypes

In [121]:
f[1]

dtype('int64')

In [98]:
a

dtype('int64')

In [70]:
for i in df.columns:
    dtype=type(df[i][0])
    print(dtype)
    """
    dtypemap(dtype)
    print("After")
    print(dtype)
    
    """

<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [45]:
for i in df.columns:
    a=type(df[i][0])
    dtypemap(a)
    #print(a)
    try:
        cursor.execute(ALTER TABLE TAIWAN_CP ADD COLUMN(Date DATE, BUDAPEST INT, BARANYA INT, BACS INT, BEKES INT, BORSOD INT, CSONGRAD INT,FEJER INT, GYOR INT, HAJDU INT, HEVES INT, JASZ INT, KOMAROM INT, NOGRAD INT, PEST INT,SOMOGY INT, SZABOLCS INT, TOLNA INT,VAS INT, VESZPREM INT, ZALA INT);)
    except:
        cursor.execute(CREATE TABLE TAIWAN_CP ADD COLUMN(Date DATE, BUDAPEST INT, BARANYA INT, BACS INT, BEKES INT, BORSOD INT, CSONGRAD INT,FEJER INT, GYOR INT, HAJDU INT, HEVES INT, JASZ INT, KOMAROM INT, NOGRAD INT, PEST INT,SOMOGY INT, SZABOLCS INT, TOLNA INT, VAS INT, VESZPREM INT, ZALA INT);)

SyntaxError: invalid syntax (2446580607.py, line 6)

In [31]:
import csv

In [37]:
with open("/Users/mac/Downloads/hungary_chickenpox/hungary_chickenpox.csv",'r') as file:
    reader=csv.reader(file)
    header=next(reader)
header

['Date',
 'BUDAPEST',
 'BARANYA',
 'BACS',
 'BEKES',
 'BORSOD',
 'CSONGRAD',
 'FEJER',
 'GYOR',
 'HAJDU',
 'HEVES',
 'JASZ',
 'KOMAROM',
 'NOGRAD',
 'PEST',
 'SOMOGY',
 'SZABOLCS',
 'TOLNA',
 'VAS',
 'VESZPREM',
 'ZALA']

In [35]:
header=next(reader)

ValueError: I/O operation on closed file.

In [41]:
header_types = []
for header in header:
    header_types.append(type_map.get(header, 'VARCHAR(255)'))

In [40]:
type_map = {
    'int': 'INT',
    'float': 'FLOAT',
    'str': 'VARCHAR(255)'
}

In [ ]:
print(f'CREATE TABLE data ({", ".join([f"{header} {header_type}" for header, header_type in zip(headers, header_types)})};')

In [43]:
cursor.execute('CREATE TABLE data ({", ".join([f"{header} {header_type}" for header, header_type in zip(headers, header_types)})};')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '{", ".join([f"{header} {header_type}" for header, header_type in zip(headers, he' at line 1

In [45]:
headers=df.columns
dtypes = {}
for header in headers:
    dtypes[header] = df[header].dtype

In [46]:
query = "CREATE TABLE data("
for header in headers:
    query += "{} {}, ".format(header, dtypes[header].name)
query = query[:-2] + ")"
cursor.execute(query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'object, BUDAPEST int64, BARANYA int64, BACS int64, BEKES int64, BORSOD int64, CS' at line 1

In [29]:
cursor.execute('CREATE TABLE test1( test1 INT);')

In [34]:
df.columns[1]

'BUDAPEST'

In [37]:
a=[]
for i in df.columns:
    a=a.append(i+' INT')

AttributeError: 'NoneType' object has no attribute 'append'

In [38]:
b=[]

In [31]:
df.head()

,Date,BUDAPEST,BARANYA,BACS,BEKES,BORSOD,CSONGRAD,FEJER,GYOR,HAJDU,...,JASZ,KOMAROM,NOGRAD,PEST,SOMOGY,SZABOLCS,TOLNA,VAS,VESZPREM,ZALA
0,03/01/2005,168,79,30,173,169,42,136,120,162,...,130,57,2,178,66,64,11,29,87,68
1,10/01/2005,157,60,30,92,200,53,51,70,84,...,80,50,29,141,48,29,58,53,68,26
2,17/01/2005,96,44,31,86,93,30,93,84,191,...,64,46,4,157,33,33,24,18,62,44
3,24/01/2005,163,49,43,126,46,39,52,114,107,...,63,54,14,107,66,50,25,21,43,31
4,31/01/2005,122,78,53,87,103,34,95,131,172,...,61,49,11,124,63,56,7,47,85,60

In [49]:
cursor.execute(ALTER TABLE TAIWAN_CP ADD COLUMN(Date DATE, BUDAPEST INT, BARANYA INT, BACS INT, BEKES INT, BORSOD INT, CSONGRAD INT,FEJER INT, GYOR INT, HAJDU INT, HEVES INT, JASZ INT, KOMAROM INT, NOGRAD INT, PEST INT,SOMOGY INT, SZABOLCS INT,TOLNA INT, VAS INT, VESZPREM INT, ZALA INT));)

SyntaxError: invalid syntax (3097063235.py, line 1)

In [51]:
import csv

In [ ]:
file

In [52]:
contents = csv.reader('/Users/mac/Downloads/hungary_chickenpox/hungary_chickenpox.csv')

In [53]:
contents

In [70]:
print(contents)

<_csv.reader object at 0x7fce3e85f580>

In [69]:
cursor.executemany(insert_values,contents)

ProgrammingError: Not enough parameters for the SQL statement

In [57]:
table= '''CREATE TABLE TAIWAN_CP(Date DATE, BUDAPEST INT, BARANYA INT, BACS INT, BEKES INT, BORSOD INT, CSONGRAD INT,FEJER INT, GYOR INT, HAJDU INT, HEVES INT, JASZ INT, KOMAROM INT, NOGRAD INT, PEST INT,SOMOGY INT, SZABOLCS INT,TOLNA INT, VAS INT, VESZPREM INT, ZALA INT);'''

In [68]:
insert_values=''' INSERT INTO TAIWAN_CP(Date , BUDAPEST , BARANYA , BACS , BEKES , BORSOD , CSONGRAD ,FEJER , GYOR , HAJDU , HEVES , JASZ , KOMAROM , NOGRAD , PEST ,SOMOGY , SZABOLCS ,TOLNA , VAS , VESZPREM , ZALA ) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'''

In [59]:
s='table= '''CREATE TABLE TAIWAN_CP(Date DATE, BUDAPEST INT, BARANYA INT, BACS INT, BEKES INT, BORSOD INT, CSONGRAD INT,FEJER INT, GYOR INT, HAJDU INT, HEVES INT, JASZ INT, KOMAROM INT, NOGRAD INT, PEST INT,SOMOGY INT, SZABOLCS INT,TOLNA INT, VAS INT, VESZPREM INT, ZALA INT);''''

SyntaxError: invalid syntax (201882469.py, line 1)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      522 non-null    object
 1   BUDAPEST  522 non-null    int64
 2   BARANYA   522 non-null    int64
 3   BACS      522 non-null    int64
 4   BEKES     522 non-null    int64
 5   BORSOD    522 non-null    int64
 6   CSONGRAD  522 non-null    int64
 7   FEJER     522 non-null    int64
 8   GYOR      522 non-null    int64
 9   HAJDU     522 non-null    int64
 10  HEVES     522 non-null    int64
 11  JASZ      522 non-null    int64
 12  KOMAROM   522 non-null    int64
 13  NOGRAD    522 non-null    int64
 14  PEST      522 non-null    int64
 15  SOMOGY    522 non-null    int64
 16  SZABOLCS  522 non-null    int64
 17  TOLNA     522 non-null    int64
 18  VAS       522 non-null    int64
 19  VESZPREM  522 non-null    int64
 20  ZALA      522 non-null    int64
dtypes: int64(20), object(1)
memory usage: 85.8+ KB

In [ ]:
cursor.execute('')