In [ ]:
"""

Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

"""

In [27]:
def is_symmetrical(inpt):
    inpt1=str(inpt)
    newlen=len(inpt1)-1
    outpt=''
    for i in range(newlen,-1,-1):
        outpt=outpt+inpt1[i]
    if inpt1==outpt:
        return True
    else:
        return False

In [31]:
is_symmetrical(7227)

True

In [32]:
is_symmetrical(12567)

False

In [33]:
is_symmetrical(44444444)

True

In [34]:
is_symmetrical(9939)

False

In [35]:
is_symmetrical(1112111)

True

In [ ]:
"""
Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

"""

In [417]:
def multiply_nums(*args):
    s = str(args)
    s = s.split(",")
    l = []
    m = 1
    for i in s:
        s1 = ""
        for j in i:
            if j != "(" and j != "'" and j != ")":
                s1 += j
        l.append(s1)
    while "" in l:
        l.remove("")
    for i in range(len(l)): 
        m = m * int(l[i])
    print(m)

        
        
multiply_nums("2, 3")

6

In [418]:
multiply_nums("1, 2, 3, 4")

24

In [419]:
multiply_nums("54, 75, 453, 0")

0

In [420]:
multiply_nums("10, -2")

-20

In [ ]:
"""
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

"""

In [97]:
def square_digits(a):
    a=str(a)
    b=''
    c=1
    for i in range(len(a)):
        c=int(a[i])**2
        b=b+str(c)
        
    return int(b)

In [98]:
square_digits(9119)

811181

In [99]:
square_digits(2483)

416649

In [100]:
square_digits(3212)

9414

In [ ]:
"""

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

"""

In [109]:
def setify(inpt):
    inpt.sort()
    inpt=[*set(inpt)]
    return inpt

In [110]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [111]:
setify([4, 4, 4, 4])

[4]

In [112]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [113]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [ ]:
"""
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
	•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
	•	The mean will always be an integer.
    
"""

In [408]:
def mean(inpt):
    inpt1=str(inpt)
    b=0
    for i in range(len(inpt1)):
        b=int(inpt1[i])+b
    outpt=b/len(inpt1)
    return int(outpt)

In [409]:
mean(42)

3

In [410]:
mean(12345)

3

In [411]:
mean(666)

6

In [412]:
mean(483)

5